{{ define "title"}}
Changes since {{.Site.Params.ProductName}} {{ (partial "get_version_for_page" .) }}
{{end}}

{{ define "main" }}

{{ $all := partial "get_all_versions" . }}
{{ $items := slice }}
{{ range $v := where $all "Date" "gt" .Date }}  
  {{ range $item := $v.Items }}
    {{ $items = $items | append $item }}
  {{ end }}
{{ end }}

{{ partial "breaking_panel" (dict "items" $items) }}

{{ partial "sections" (dict 
    "ShowVersion" true
    "Items" $items
)}}

{{end}}

{{ define "footer" }}
  {{ partial "installation_footer" }}
{{ end }}