{{/* Return a list of all versions and sub-items */}}

{{ $suppressHidden := true }}
{{ if isset . "suppressHidden" }}
    {{ $suppressHidden = .suppressHidden }}
{{ end }}

{{ $versions := slice }}
{{ range $page := site.Pages.ByDate.Reverse }}
    {{ $base := $page.File.Dir }}

    {{/* Don't try and process anything except for version-y folders */}}
    {{ if (not (findRE "^\\d+\\.\\d+\\.\\d+[/\\\\]$" $base)) }}
        {{continue}}
    {{ end }}

    {{ $version := (partial "get_version" $page) }}
    {{ if and $suppressHidden $version.Hidden }}
        {{ continue }}
    {{ end }}
    {{ $versions = $versions | append $version }}
{{ end }}

{{ return $versions }}