<div class="mx-auto max-w-7xl w-full">
<div class="mx-6 mb-10">
  <div class="rounded-md bg-blue-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg
          class="h-5 w-5 text-blue-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="ml-3 flex-1 md:flex md:justify-between">
        <div class="text-xs md:text-sm text-blue-700 prose prose-sm w-full">
          <b>Ready to update?</b>
          <ul>
            <li>
              For Quorum-hosted Aucerna Execute environments, email an upgrade
              request to Execute Support.
            </li>
            <li>
              For on-prem instances of Execute:
              <ul>
                <li>
                  Always ensure you have a recent backup of your Execute
                  database before updating.
                </li>
                <li>
                  Download the installer from the
                  <a href="https://clients.aucerna.com/">Client Portal</a>.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
