{{ if .Items }}
<div 
  x-data="{
        hasVisibleItems: true,
        checkVisibility() {
          setTimeout( () =>  {
            this.hasVisibleItems = Array.from(this.$refs.list.children).some(item => item.style.display !== 'none');
          },100);
        }
    }" 
  x-init="
    checkVisibility();
    $watch('search', (t) => { checkVisibility(); });
  "
  x-show="hasVisibleItems"
  class="divide-y divide-gray-300 overflow-hidden rounded-lg bg-white shadow mb-10"
  >
<div class="px-2 py-2 md:px-4 md:py-5 bg-gray-200">
  <h2 class="font-extrabold text-smallcaps flex">
  {{ partial "icon" (dict "Type" .Type) }}
  <span class="ml-2">{{.Title}}</span>
  </h2>
</div>
<div class="p-4 prose text-xs prose-sm md:text-sm w-full max-w-full">
<ul x-ref="list">
  {{ range $item := .Items }}
  {{ $content := "" }}
  {{ $content = print $content " " ($item.Title | lower) }}
  {{ $content = print $content " " ($item.DetailRaw | lower) }}
  {{ if $item.Item }}
    {{ $content = print $content " " "#" ($item.Item | lower) }}
  {{ end }}
  {{ if $item.Tags }}
    {{ range $tag := (split $item.Tags ",") }}
      {{ $content = print $content " " "#" (strings.Trim ($tag | lower) " ") }}
    {{ end }}
  {{ end }}

  <li 
    {{ if in (split $item.Tags ",") "important" }}
    class="bg-red-100 pt-1 pl-2 pr-2 pb-2"
    {{ end }}
    x-data="{ 
      expanded: false,
      show: true,
      detail: {{ $item.DetailRaw | lower | jsonify }},
      content: {{ $content | jsonify }} 
    }" 
    x-init="
    expanded = search && (detail || '').includes(search.toLowerCase());
    show = !search || content.includes(search.toLowerCase());
    $watch('search', (search) => {
      expanded = search && (detail || '').includes(search.toLowerCase());
      show = !search || content.includes(search.toLowerCase());
    });
    "
    x-show="show">

    {{ if $item.DetailBody }}
    <button type="button" x-show="expanded" @click="expanded = !expanded" style="display: none" class="mr-2 rounded bg-gray-800 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Hide Details</button>
    <button type="button" x-show="!expanded" @click="expanded = !expanded" class="mr-2 rounded bg-gray-100 px-2 py-1 text-xs font-semibold text-black shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Show Details</button>
    {{ end }}
  
  {{$item.Title}}

  {{ if $item.Tags }}
    {{ range $tag := (split $item.Tags ",") }}
      {{partial "tags" (dict "Tag" $tag "Item" $item) }}
    {{ end }}
  {{ end }}

  {{if $.ShowVersion }}
    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{$item.Version}}</span>
  {{end}}

  {{if $item.Item }}
    {{ range $pbi := (split $item.Item "&") }}
      {{ $pbi = strings.Trim $pbi " " }}
      {{ $showLinks := eq "true" (getenv "HUGO_SHOW_DEVOPS_LINKS") }}
      {{ if $showLinks }} <a class="no-underline" href="https://dev.azure.com/Aucerna/Aucerna/_workitems/edit/{{ $pbi }}"> {{ end }}
      <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
        #{{$pbi}}
      </span>
      {{ if $showLinks }}</a>{{ end }}
    {{ end }}
  {{end}}


  {{ if $item.DetailBody }}
  <div class="text-xs overflow-hidden rounded-lg bg-indigo-50 shadow mt-2" x-show="expanded" x-cloak>
  <div class="px-8 py-4">
  {{ $item.DetailBody }}
  </div>
  </div>
  {{ end }}

  </li>
  {{ end }}
</ul>
</div>
</div>
{{ end }}
