{{ $tag := strings.Trim (lower .Tag) " "}}
{{ if eq $tag "security" }} 
   <span @click="search = '#{{ $tag }}'" class="cursor-pointer inline-flex items-center rounded-md bg-red-400/10 px-2 py-1 text-xs font-medium text-red-400 ring-1 ring-inset ring-red-400/20">#{{$tag}}</span>
{{ else if eq $tag "important" }}
{{ else if eq $tag "integration" }}
  <span @click="search = '#{{ $tag }}'" class="cursor-pointer inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">#{{$tag}}</span>
{{ else if in (slice 
  "afe" "well" "workflow" "opsched" "budget" "well delivery"  "integration agent"
  "wellez" "enersight" "peloton"  "valnav"
  "admin" "system" "plugins" "reporting" "formula" "api" "performance" "loader" "odata" "saas" "ui" "email"
  ) $tag }}
  <span @click="search = '#{{ $tag }}'" class="cursor-pointer inline-flex items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 ring-1 ring-inset ring-blue-400/30">#{{$tag}}</span>
{{ else }}
  {{ warnf "Unknown tag: %s in %s" $tag .Item.Version }}
  <span @click="search = '#{{ $tag }}'" class="cursor-pointer inline-flex items-center rounded-md bg-yellow-400/10 px-2 py-1 text-xs font-medium text-yellow-400 ring-1 ring-inset ring-yellow-400/30">#{{$tag}}</span>
{{ end }}
