{{/* Return a list of all versions and sub-items */}}

{{ $all := slice }}
{{ range $page := .Site.Pages.ByDate.Reverse }}

    {{ $base := $page.File.Dir }}

    {{/* Don't try and process anything except for version-y folders */}}
    {{ if (not (findRE "^\\d+\\.\\d+\\.\\d+[/\\\\]$" $base)) }}
        {{continue}}
    {{ end }}


    {{/* CSV is absolutely required */}}
    {{ $csvFileName := (path.Join $base "items.csv") }}
    {{ if not (fileExists $csvFileName) }}
        {{ errorf "Version missing CSV file: %s" $csvFileName }}
    {{ end }}

    {{/* Get the version number from the Folder */}}
    {{ $version := (path.Base .File.Dir) }}

    {{/* Process the CSV file.  If this fails, adding some logging on csvFileName is helpful */}}
    {{ $items := (transform.Unmarshal (readFile $csvFileName)) }}

    {{ $header := index $items 0 }}

    {{ $processed := slice }} 
    {{ range $row := after 1 $items }}
        {{ $d := dict }}
        {{/* Convert CSV row to dict using CSV header vaues (title cased!) */}}
        {{ range $i, $v := $header }}
            {{ if eq $v "item#"}}{{$v = "item"}}{{end}} 
            {{ $d = $d | merge (dict (title $v) (index $row $i)) }}
        {{ end }}
        {{/* Process detail values */}}
        {{ if $d.Detail}}
            {{ $detailFile := path.Join $base $d.Detail "summary.md" }}
            {{ if fileExists $detailFile }}
                {{ $detailContent := readFile $detailFile }}
                {{/* Convert relative image references to absolute references */}}
                {{ $detailContent = (replaceRE 
                    `!\[(.*?)\]\((.*)\)` 
                    (print `![$1](`  $page.RelPermalink $d.Detail  `/$2)`) 
                    $detailContent) }}
                {{/* Convert detail to HTML */}}
                {{ $d = $d | merge (dict "DetailRaw" $detailContent) }}
                {{ $d = $d | merge (dict "DetailBody" (markdownify $detailContent)) }}
            {{ else }}
                {{ warnf "Detail file missing: %s" $detailFile }}
            {{end}}      
        {{ end }}
        {{ $d = $d | merge (dict "Version" $version) }}
        {{ $d = $d | merge (dict "Date" $page.Date) }}
        {{ $processed = $processed | append $d }}
    {{ end }} 

    {{ $all = $all | append (dict 
        "Version" $version
        "Items" $processed
        "Date" $page.Date
        "Title" $page.Title
        "HasSchemaChanges" (gt (len (where $processed ".Type" "eq" "schema")) 0)
        "Link" $page.RelPermalink
    )}}

{{ end }}

{{ return $all }}