{{ define "title" }}
{{.Title}}
{{end}}

{{ define "main" }}
<div class="prose prose-sm max-w-none">
  {{.Content}} 
</div>

<div class="prose prose-sm max-w-none mt-4">
<table>
  <thead class="text-left">
  <tr>
    <th>Version</th>
    <th>Release Date</th>
    <th>Schema Changes</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  {{ range $i, $item := (partial "get_all_versions" .) }}
  <tr class="even:bg-gray-100">
      <td>
      <a href="{{$item.Link}}index.html" class="hidden md:block">
        {{ if $item.Title }}
          {{ $item.Title }}
        {{ else }} 
         {{site.Params.ProductName}} {{$item.Version}}
        {{ end }}
      </a>
      <a href="{{$item.Link}}index.html" class="md:hidden">{{$item.Version}}</a>
      </td>
      <td>
        {{time.Format "January 2, 2006" $item.Date}}
        {{ if $item.Draft }}
        <span class="ml-2 cursor-pointer inline-flex items-center rounded-md bg-yellow-400/10 px-2 py-1 text-xs font-medium text-yellow-400 ring-1 ring-inset ring-yellow-400/30">Draft</span>
        {{ end }}

      </td>
      <td>
        {{if $item.HasSchemaChanges }}
        <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-600/10">Schema Changes</span>
        {{end}}
      </td>
      <td>
      {{ if gt $i 0}}
      <a href="{{$item.Link}}since.html" class="hidden md:block">Changes since {{$item.Version}}</a>
      <a href="{{$item.Link}}since.html" class="md:hidden">Changes since</a>
      {{ end }}
      </td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
