{{ define "title" }}
{{.Title}}
{{end}}

{{ define "main" }}
<div class="prose prose-sm max-w-none">
  {{.Content}} 
</div>

<div class="prose prose-sm max-w-none mt-4">
<table>
  <thead class="text-left">
  <tr>
    <th>Version</th>
    <th>Release Date</th>
    <th>Schema Changes</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  {{ range $i, $item := partialCached "versions" . }}
  <tr>
      <td>
      <a href="{{$item.Link}}" class="hidden md:block">{{$item.Title}}</a>
      <a href="{{$item.Link}}" class="md:hidden">{{$item.Version}}</a>
      </td>
      <td>{{time.Format "January 2, 2006" $item.Date}}</td>
      <td>
        {{if $item.HasSchemaChanges }}
        <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-600/10">Schema Changes</span>
        {{end}}
      </td>
      <td>
      {{ if gt $i 0}}
      <a href="{{$item.Link}}/since.html" class="hidden md:block">Changes since {{$item.Version}}</a>
      <a href="{{$item.Link}}/since.html" class="md:hidden">Changes since</a>
      {{ end }}
      </td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}