.item-detail-panel > :last-child {
margin-bottom: 0px;
}

.item-detail-panel ul {
    margin-bottom: 1em;
}

.item-detail {
margin-bottom: 2em;
}

ul.detail-list {
margin-bottom: 0px;
}

.release-summary {
margin-bottom: 2em;
}

li.detail-item {
    padding-bottom: 5px;
    padding-top: 5px;
}