.item-detail-panel > :last-child {
margin-bottom: 0px;
}

.item-detail-panel ul {
    margin-bottom: 1em;
}

.item-detail-panel ol {
    margin-bottom: 1em;
}

.item-detail {
margin-bottom: 2em;
}

ul.detail-list {
margin-bottom: 0px;
}

.release-summary {
margin-bottom: 2em;
}

.itemnum {
    color: #888;
    font-size: 6pt;
}

li.detail-item {
    padding-bottom: 5px;
    padding-top: 5px;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    border-radius: 2px;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition > p, div.warning > p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition > pre, div.warning > pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition > p.admonition-title,
div.warning > p.admonition-title {
    margin-top: 0.5em;
    font-weight: bold;
}

div.warning {
    border: 1px solid #940000;
}

div.admonition > ul,
div.admonition > ol,
div.warning > ul,
div.warning > ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.admonition div.highlight {
    background: none;
}