{% extends "base.html" %}

{% macro tag(t) -%}
   {%if t == "integration" %}
   <span class="badge rounded-pill bg-primary">#{{t}}</span>
   {%elif t == "important" %}
   <span class="badge rounded-pill text-dark bg-danger">#{{t}}</span>
   {%elif t == "saas" %}
   <span class="badge rounded-pill text-dark bg-info">#{{t}}</span>
   {%elif t == "security" %}
   <span class="badge rounded-pill bg-warning">#{{t}}</span>
   {%else%}
   <span class="badge rounded-pill bg-secondary">#{{t}}</span>
   {%endif%}
{% endmacro -%}

{% macro items(title, headerColor, expand, items) -%}
  {% if items  %}
  <div class="card item-detail">
  <div class="card-header {{headerColor}}"><b>{{title}}</b></div>
  <div class="card-body">
  <ul class="detail-list">
   {% for item in items | sort(attribute="weight", reverse=True) %}
   {% if item["detail_html"] %}
   <li class="detail-item item filterable"><a data-bs-toggle="collapse" href="#collapse_{{item.id}}">{{item["title"]}}</a>
   {%for t in item["gs"] %}
   {{ tag(t) }}
   {%endfor%}
   <span class="badge rounded-pill bg-success">{{item.release_id}}</span>
   {% if item["item#"] %}
   <span class="itemnum">(#{{item["item#"] | safe}})</span>
   {% endif %}
   <div class="collapse {%if expand%}show{%endif%}" id="collapse_{{item.id}}">
   <div class="card bg-light">
   <div class="card-body item-detail-panel">
   {{ item["detail_html"] | safe }}
   </div>
   </div>
   </div>
   </li>
   {% else %}
   <li class="detail-item item filterable">{{item["title"]}} 
   {%for t in item["tags"] %}
   {{ tag(t) }} 
   {%endfor%}
   <span class="badge rounded-pill bg-success">{{item.release_id}}</span>
   {% if item["item#"] %}
   <span class="itemnum">(#{{item["item#"] | safe}})</span>
   {% endif %}
   </li>
   {% endif %}
   {% endfor %}
  </ul>
  </div>
  </div>
  {% endif %}
{% endmacro -%}

{% block content %}
    <h1>Changes since <b>{{release["title"]}}</b></h1>

    {% if release["whats_new"] | selectattr("type","equalto","schema") |list | length > 0 %}
    <div class="alert alert-danger">
    These updates include schema changes.  It is extremely important that a database backup be taken prior to upgrading to this version of Execute.  A failure or interruption during the schema upgrade process may leave the database in an unusable state. 
    </div>
    {% endif %}

    {{items("📝 Notes", "bg-info", false, release["whats_new"] | selectattr("type","equalto", "note") | list)}}
    {{items("💾 Schema", "bg-warning", false, release["whats_new"] | selectattr("type","equalto", "schema") | list)}}
    {{items("💜 Features", nil, false, release["whats_new"] | selectattr("type","equalto", "feature") | list)}}
    {{items("✔️ Enhancements", nil, false, release["whats_new"] | selectattr("type","equalto", "enhancement") | list)}}
    {{items("🐛 Bugs", nil, false, release["whats_new"] | selectattr("type","equalto", "bug") | list)}}

    {%for type,tmp in release["whats_new"] 
        | rejectattr("type", "equalto", "schema") 
        | rejectattr("type", "equalto", "bug") 
        | rejectattr("type", "equalto", "feature") 
        | rejectattr("type", "equalto", "enhancement") 
        | rejectattr("type", "equalto", "note") 
        | groupby('type')%}
    {{items(type | capitalize, nil, false, tmp)}}
    {%endfor%}

    {% if release["whats_new"] | length == 0 %}
    <div class="alert alert-info">
    Congratulations.  You are running the current release of Execute!
    </div>
    {% else %}
	<div class="alert alert-primary"><b>Ready to update?</b> For Quorum hosted Aucerna Execute environments, email a request to Execute Support.  For on-prem instances of Execute, the installers can be download from <a href="https://clients.aucerna.com/">the Client Portal</a>.</div>
    {% endif %}
        
{% endblock %}