{% extends "base.html" %}

{% macro items(title, expand, items) -%}
  {% if items  %}
  <div class="card item-detail">
  <div class="card-header"><b>{{title}}</b></div>
  <div class="card-body">
  <ul>
   {% for item in items | sort(attribute="weight", reverse=True) %}
   {% if item["detail_html"] %}
   <li class="item"><a data-bs-toggle="collapse" href="#collapse_{{item.id}}">{{item["title"]}}</a>
   {%for tag in item["tags"] %}
   <span class="badge bg-secondary">{{tag}}</span>
   {%endfor%}
   <div class="collapse {%if expand%}show{%endif%}" id="collapse_{{item.id}}">
   <div class="card bg-light">
   <div class="card-body item-detail-panel">
   {{ item["detail_html"] | safe }}
   </div>
   </div>
   </div>
   </li>
   {% else %}
   <li class="item">{{item["title"]}}
   {%for tag in item["tags"] %}
   <span class="badge bg-secondary">{{tag}}</span>
   {%endfor%}
   </li>
   {% endif %}
   {% endfor %}
  </ul>
  </div>
  </div>
  {% endif %}
{% endmacro -%}

{% block content %}
    <h1>{{release["title"]}}</h1>
    <div class="release-summary">
    {{release["summary_html"] | safe}}
    </div>

    {{items("💜 Features", true, release["items"] | selectattr("type","equalto", "feature") | list)}}
    {{items("Enhancements", false, release["items"] | selectattr("type","equalto", "enhancement") | list)}}
    {{items("Bugs", false, release["items"] | selectattr("type","equalto", "bug") | list)}}
    {{items("Notes", false, release["items"] | selectattr("type","equalto", "note") | list)}}

    {%for type,tmp in release["items"] 
        | rejectattr("type", "equalto", "bug") 
        | rejectattr("type", "equalto", "feature") 
        | rejectattr("type", "equalto", "enhancement") 
        | rejectattr("type", "equalto", "note") 
        | groupby('type')%}
    {{items(type | capitalize, false, tmp)}}
    {%endfor%}
        
{% endblock %}