'on':
  push:
    branches:
      - master

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Node setup
        uses: actions/setup-node@v4
      - name: Hugo setup
        uses: peaceiris/actions-hugo@v2.6.0
        with:
            hugo-version: latest # optional, default is latest
            extended: true # optional, default is false
      - name: NPM
        run: npm install
      - name: Build
        run: hugo -b https://www.deliveryraptor.net/notes/
        env:
          HUGO_SHOW_DEVOPS_LINKS: true
          HUGO_SHOW_DOWNLOAD_LINKS: true
      - name: Create SSH key
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
      - name: Deploy with rsync
        run: rsync -rav --delete public/ deploy-afedev@epsilon.erratic.cloud:notes